In [1]:
%matplotlib inline
from matplotlib import pyplot as plt

from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

import statsmodels.api as sm

import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("./DATA/pal-bel-rec.csv")

In [3]:
pd.set_option('display.max_columns', 500)
data.describe()

,index_right,Unnamed: 0,ID,latitud,longitud,price,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,Ambientes,pileta,amenities,gimnasio,laundry,sum,solarium,parrilla,a estrenar,subte,cochera
count,3723.000000,3723.000000,3723.000000,3723.000000,3723.000000,3.723000e+03,3.723000e+03,3.723000e+03,3723.000000,3723.000000,3723.000000,3723.000000,260.000000,2278.000000,1185.000000,3723.000000,3723.000000,3723.000000,3723.000000,3723.000000,3723.000000,3723.000000,3723.000000,3723.000000,3723.000000,3723.000000
mean,18380.880473,55641.345420,55641.345420,-34.579195,-58.424563,3.632685e+05,5.914885e+06,3.352254e+05,110.440236,97.807951,3084.490859,4005.219663,4.353846,3.124232,4957.555274,1.708031,0.211657,0.132689,0.118184,0.226162,0.140210,0.107709,0.186946,0.096428,0.178082,0.403169
std,11690.483710,33092.112741,33092.112741,0.013016,0.022606,4.587917e+05,5.497961e+06,3.115963e+05,96.497022,84.397246,805.794085,5551.008276,3.847200,1.543092,4722.856455,1.640241,0.408538,0.339284,0.322870,0.418401,0.347251,0.310054,0.389921,0.295216,0.382633,0.490600
min,4.000000,7.000000,7.000000,-34.599730,-58.472364,4.900000e+04,5.898837e+05,3.343159e+04,21.000000,21.000000,1078.438387,1196.319018,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,8613.500000,28841.500000,28841.500000,-34.589955,-58.440345,1.490000e+05,2.558452e+06,1.450000e+05,48.000000,43.000000,2545.454545,2823.529412,2.000000,2.000000,2000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,16800.000000,52039.000000,52039.000000,-34.581963,-58.423297,2.478000e+05,4.234680e+06,2.400000e+05,81.000000,71.000000,2966.666667,3285.714286,3.000000,3.000000,3400.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,26597.000000,77604.000000,77604.000000,-34.567117,-58.404614,4.150000e+05,7.056518e+06,3.999273e+05,137.000000,122.500000,3513.513514,4000.000000,6.000000,4.000000,6232.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,40565.000000,121158.000000,121158.000000,-34.546880,-58.384171,9.435376e+06,5.646240e+07,3.200000e+06,967.000000,967.000000,5494.505495,101851.557143,22.000000,15.000000,54240.000000,10.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000